---
layout : default
title : IT기술 Category
---
<!-- Posts -->
<ul id="posts">
     <h3>{{ page.title }}</h3>

     {% for post in site.posts %}
        {% if post.category == "ittech" %}
	  <li class="post">
	  	<h3><a href="{% if site.baseurl == "/" %}{{ post.url }}{% else %}{{ post.url | prepend: site.baseurl }}{% endif %}">{{ post.title }}</a></h3>
	  	<time datetime="{{ post.date | date_to_xmlschema }}" class="by-line">{{ post.date | date_to_string }}</time>
	  	<p>{{ post.content | strip_html | truncatewords:30 }}</p>
	  </li>
	{% endif %}

    {% endfor %}

</ul>
