/*- Custom style -*/
// -- Put custom style under this point -- //

.content h1{
    margin-bottom: 16px;
    border-bottom: 3px solid #eee;
}

.content h2{
    padding-bottom: 0.5em;
    margin-bottom: 16px;
    border-bottom: 3px solid #eee;
}


@import "highlights";
@import "svg-icons";
